.card-overview {
   width: 890px;
    display :flex;
    margin-top: 80px
}

/* Media queries*/ 

@media (max-width: 600px) {
    .card-overview {
        width: 80%;
        flex-direction:  column;
      
    }
}