.repositorie {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border: 1px solid #30363D;
    padding: 5px;
    border-radius: 7px;
    padding: 20px;
    
    
}
.repositorie svg {
    width: 14px;
    height: 14px;
    
    border-radius: 50%;
    
}
span {
    color: #8B949E;
    font-size: 15px;
}
.name a{
    text-decoration: none;
    margin-bottom: 6px;
    color:#58A6FF
}
.description {
    margin-bottom: 5px;
}
.features {
    display: flex;
    align-items: center;
}
.language span{
    font-size: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 5px
}
.stars span{
    
    margin-left: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 2px
}
.forks span {
    margin-left: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 2px
}


/* Media queries */


@media (max-width: 600px) {

    .repositorie {
        width: 100%;
    }
    .repositorie span, a {
        font-size: 14px;
    }
}