body {
  
  overflow-x: hidden;
}

main {
  display: flex;
  
}

img {
  width: 100%;
} 
/* Section Left */
section.left {
  
  height: 100vh;
  width: 100%;
  min-width: 420px;
  max-width: 600px;
  display: flex;
  justify-content: center;
  position: fixed;
}




/* Section Right */
section.right {
  display: flex;
  justify-content: center;
  margin-left: 610px;
  
  
}

input#search {
  color: white;
  padding: 10px 40px;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
  margin-bottom: 10px;
  border-radius: 4px;
  outline: 0;
}
.search button {
  outline: 0;
  background-color: transparent;
  color: white;
  margin-left: 5px;
  font-weight: bold;
  background-color: #633BBC;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: all ease 0.3s
}
.search button:hover {
  opacity: 0.8
}
#blur-right {
  
  position: absolute;
  width: 321px;
  height: 321px;
  left: 1327px;
  top: -150px;
  
  background: #996DFF;
  filter: blur(200px);

}
header {
  
  
  margin-top: -80px;
  background-color: #0D1117
}
.right-container {
  
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin: 25vh -70px;

}
.right-content {
  width: 80%;
  
  margin-top: 40px;
  border: 1px solid gray;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  

}
.redirect-rep button{
  color: white;
  
  margin-bottom: 35px;
  
}
.redirect-rep button a {
  font-weight: bold;
  font-size: 17px
  
}

nav.navbar {
  display: flex;
}
.overview-box {
  margin-right: 30px;
}
button.btn {
  font-size: 0.93rem;
  background-color: transparent;
  padding-bottom: 10px;
  border: none;
  color: #C9D1D9;
  display: flex;
  align-items: center;
  gap: 7px;
  font-weight: bold;
  cursor: pointer;
  transition: .4s;
}
button.btn:hover {
  opacity: 0.9;
}



/* Media queries */

@media (max-width: 940px) {
  .right-content {
    
    margin-top: 45px;
  }

  section.left {
    width: 450px;
  }
  .right-container {
    width: 140%;
   margin-left: -120px;
  }
}

@media (max-width: 840px) {
  section.left {
    position: relative;
    left: 20px;
    height: 580px
  }
  main {
    flex-direction: column;
  }
 
 .search input{
 
  width: 60%;
 }
 
  section.right {
    margin-left: 140px;
    align-items: center;
    justify-content: center;
  }

}