:root {
  font-family: 'Manrope', sans-serif;
  background-color: #0d1117;
  color: white;
  --color-blue: #58A6FF
  --color-white: #fff
  --color-gray: #C9D1D9
  --color-gray2: #8B949E
  --color-purple: #8257E5
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  outline: 0;
}

button#default {
  background-color: transparent;
  padding: 11px 38px;
  border: 2px solid #8257E5;
  border-radius: 6px;
  gap: 10px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: .4s;
}
button#default:hover {
  border-color:  #5a13ff;
  color: rgb(223, 223, 223)

}
a {
  text-decoration: none;
  color: white;
  transition: .4s
}
a:hover {
  opacity: 0.7
}
 